---
layout: archive
classes: wide

author-profile: true
author: VERANDA
---

<h1 class="archive__title">VERANDA</h1>

Trustworthy Anonymization of Sensitive Patient Records for Remote Consultation

<figure class="align-center">
  <img src="/assets/images/veranda-logo.jpg" alt=""></a>
  <figcaption><small>© 2024 Hannes Gieseler, all rights reserved</small></figcaption>
</figure>

<div class = "text-justify">
  The primary aim of VERANDA is to explore and promote informational self-determination in the context of personal and sensitive medical data, especially among stigmatized groups. This includes advancing essential medical diagnostics, 
  such as cancer detection and clinical-psychological care, which has seen increased demand during the COVID-19 pandemic. The project is closely tied to the provision of personal data for research purposes, highlighting the importance of 
  effective risk-opportunity communication with patients and the public. 
  By examining the conditions under which patients are willing to share their data during online consultations, the project seeks to develop communication strategies that enhance users' understanding of relevant data protection technologies.
</div>
<p></p>

{% assign news = site.news | reverse %}

{% assign publications = site.publications | reverse %}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<h1 class="archive__title">Recent News</h1>

<div class="entries-{{ entries_layout }}">
  {% comment %}
  to change the number of news posts shown on this page, change limit below
  {% endcomment %}
  {% for post in news limit:2 %}
    {% include archive-single.html type=entries_layout %}
    <p> </p>
  {% endfor %}
</div>

<h1 class="archive__title">Recent Publications</h1>

<div class="entries-{{ entries_layout }}">
  {% comment %}
  to change the number of publication posts shown on this page, change limit below
  {% endcomment %}
  {% for post in publications limit:2 %}
    {% include archive-single.html type=entries_layout %}
    <p> </p>
  {% endfor %}
</div>
